body {
    font-family: "Quicksand", sans-serif  !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}


nav ul {
    gap: 1.5em;
}

.logo {
    width: 3em;
    height: 4em;
}


.hero-section {
    position: relative;
    text-align: center;
    color: white;
}


.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-family: "Quicksand", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-image {
    width: 55em;
    height: 12vh;
    border-radius: 2em;
    /* Tinggi default */
    object-fit: cover;
}

.card-img-top {
    height: 200px;
    /* Tinggi default */
    object-fit: cover;
}

@media (max-width: 768px) {
    .hero-text {
        font-size: 1em;
    }
    .hero-image {
        height: 300px;
        /* Tinggi untuk layar kecil */
    }

    .card-img-top {
        height: 150px;
        /* Tinggi untuk layar kecil */
    }
}

@media (max-width: 576px) {
    .hero-text {
        font-size: 1em;
    }
    .hero-image {
        height: 200px;
        /* Tinggi untuk layar ekstra kecil */
    }

    .card-img-top {
        height: 120px;
        /* Tinggi untuk layar ekstra kecil */
    }
}

.page-content {
    margin-left: 2rem;
    margin-right: 2rem;
}

.card {
    height: 100%;
}


.how-it-works {
    padding: 60px 0;
    /* Menambahkan padding atas dan bawah */
}

.how-it-works h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    color: #333;
}

.work-step {
    text-align: center;
    /* Menyelaraskan teks di tengah */
    margin-bottom: 30px;
    /* Jarak antar langkah */
}

.work-step h3 {
    margin-bottom: 10px;
    /* Jarak antara judul dan deskripsi */
}

.work-step p {
    font-size: 1rem;
    color: #666;
}

.work-step i {
    font-size: 40px;
    /* Ukuran ikon */
    margin-bottom: 15px;
    /* Jarak antara ikon dan judul */
}

.contact-icon {
    font-size: 1.5rem;
    /* Ukuran ikon lebih besar */
    margin: 0.5rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 1.25rem;
    border: 1px solid;
    /* Warna garis */
    border-radius: 0.5rem;
    /* Sudut kotak */
    cursor: default;
    /* Nonaktifkan pointer tangan */
}

.btn-outline-danger {
    color: #dc3545;
    /* Warna teks */
    border-color: #dc3545;
    /* Warna garis */
    background-color: transparent;
}


.footer-dark {
    padding: 36px ;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

.footer-dark .logo-container {
    text-align: right;
    /* Mengatur teks logo ke kanan */
}

.footer-dark .footer-logo {
    max-width: 100px;
    /* Ukuran maksimum logo */
    height: auto;
    /* Agar proporsional */
    margin-top: 10px;
    /* Jarak atas dari teks di atas */
}
/* https: //epicbootstrap.com/snippets/footer-dark */